.lado{
  background-color:#FFE6E6;
  grid-column-end: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 4;
  padding: 3rem;
  margin-left: 10px;
}

.datos{
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: 20px;
}

.name{
    padding: 1rem;
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
}
.log{
  font-size: 1.2em; 
  font-weight: bold; 
  color: black; 
  margin-bottom: 10px; 
  text-align: center;
  background-color: azure;
  
}
.yo{
  text-align: center;
}